{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<h2>Journal Papers</h2>
<table id="pubTableJournals" class="display"></table>

<h2>Double-blind peer-reviewed conference papers</h2>

<h2>Single-blind Peer-reviewed conference papers</h2>
<table id="pubTablePeer" class="display"></table>

<h2>Other conference papers </h2>
<table id="pubTableOther" class="display"></table>

<h2>Theses and Patents</h2>
<table id="pubTableTheses" class="display"></table>
<table id="pubTable" class="display"></table>
<pre id="bibtex">@article{Karavirta:JVLCTaxonomy,
   title = {A comprehensive taxonomy of algorithm animation languages},
   journal = {Journal of Visual Languages \& Computing},
   volume = {20},
   number = {1},
   pages = {1--22},
   year = {2010},
   issn = {1045-926X},
   doi = {DOI: 10.1016/j.jvlc.2009.09.001},
   author = {Ville Karavirta and Ari Korhonen and Lauri Malmi and Thomas Naps}
}
</pre>
<script type="text/javascript">
  $(document).ready(function() { bibtexify("/assets/bib-publication-list/bibs/Papers.bib", "pubTableJournals", {'visualization': false})})
</script>

